<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

<div class="container">
  <ul class="nav bg-info">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">В начало</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'polenovo:index'  %}">Эксперты</a>
    </li><li class="nav-item">
      <a class="nav-link link-light" href="/admin">Администрирование</a>

      </li><li class="nav-item">
      <a class="nav-link link-light" href="/cl">Чеклист</a>
    </li>
  </ul>

  {% block content %}
  {% endblock %}
</div>

<hr>
    <form   method="post">
        {% csrf_token %}
        <button type="submit">Submit</button>
        <div>
            {{ form.as_div}}

        </div>
    <button type="submit">Submit</button>
    </form>
</body>
</html>